@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/Avenir\ Next/AvenirNextLTPro-Regular.otf') format('opentype'),
         
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: bold;
    src: url('../fonts/Avenir\ Next/AvenirNextLTPro-Bold.otf') format('opentype'),
         
}
main {
    position: relative;
    top: 64px;
    width: 100%;
}

h2 {
    font-family: 'Avenir Next';
    font-weight: bold;
    font-size: 42px;
    color: #484848;
}

h4 {
    font-size: 26px;
    font-family: 'Avenir Next Cyr Medium', sans-serif;
    color: #484848;
}

p {
    font-family: 'Avenir Next Cyr light', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
/*Header Desktop*/

header {
    height: 64px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: white;
}

.school-name {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #484848;
    font-size: 20px;
    height: 32px;
    display: flex;
    align-items: center;
}

.school-name span {
    color: #a1a1a1;
    font-weight: 300;
}

header .header-content {
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;   
    /*border: 1px solid blue;*/
}

header .mobile {
    display: none;
}

.logo img {
    width: auto;
    height: 40px;
  
}

.desktop {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif; 
}

.logo {
    display: flex;
    align-items: center;
}

.desktop li {
    display: inline;
    margin-left: 16px;
}

.desktop li a {
    color: #484848;
    font-size: 16px;
}

/*Main*/
/* Section Structure*/

.content {
   /* border: 1px solid red;*/
    display: flex;
    width: 100%;
}

.main-content {
    width: 60%;
    /*border: 1px solid cyan;*/
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
}

.supporting-content {
    /*margin: 32px 0px;*/
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid green;*/
    width: 40%;
    height: auto;
}


/*Banner Section*/

#banner {
    background-color: #d8d8d8; 
}

#banner p {
    color: #484848;
}

.main-content img {
    width: 100%;
}


#banner .supporting-content {
    /*max-width: 500px;*/
    /*justify-content: center;*/
    color: #484848;
    display: flex;
    justify-content: center;
    /*border: 1px solid blue;*/
}

#banner .heading {
    font-size: 52px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

#banner h4 {
    margin: 30px 0;
    line-height: 1.4;
}

#banner .button a {
    display: inline-block;
    width: 85%;
    text-align: center;
    background-color: #484848;
    color: white;
    font-family: 'Avenir Next Cyr Medium';
    font-size: 20px;
    padding: 15px 0;
    transition-property: background-color;
    transition-duration: 700ms;

}

#banner .button a:hover {
    background-color: #828181;
}

/*/Banner Mobile*/



/*Information Section*/

#info{
    background-color: #f5f5f5;
}


.quote {
    /*border: 1px solid blue;*/
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.quote p {
    margin: 24px 0;
    font-size: 20px;
}

#info .supporting-content {
    border-left: 1px solid #e1e1e1;;
}


.separator {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-left: 2px;
    height: 2px;
}

.event-box {
    display: flex;
    padding: 16px 16px;
    /*border: 1px solid red;*/
    height: auto;
    transition-property: background-color;
    transition-duration: 700ms;
    
}

.event-box .img-desktop {
    width: 35%;
    height: auto;
    display: inline;
    align-self: center;
}

.event-box .img-mobile {
    display: none;
}

.event-box:hover {
    background-color: #d8d8d8;
    
}

.event-description {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 24px;
    /*border: 1px solid blue;*/
    align-self: center;
}

.event-description a {
    font-family: 'Avenir Next Cyr Light', sans-serif; 
    font-size: 16px;
    color: cornflowerblue;
    font-weight: bold;
}

.event-description p {
    margin: 8px 0;
    line-height: 1.5;
}

#info .main-content {
    position: relative;
}

#info span {
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
    font-size: 18px;
    margin-top: 10px;
}

/*Courses Section*/

#learn {
    background-color: #e1e1e1;
}

#learn .content {
    flex-direction: column;
}

#learn h2 {
    margin: 32px 0;
    text-align: center;
    display: block;
}

.course-content {
    margin: 0 58px;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
}

.course-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    min-width: 0;
    margin: 0 16px;
}

.course-box img {
    width: 100%;
    height: auto;
    /*justify-content: stretch;*/
    
}

.course-description {
    background-color: white;
    padding: 16px 16px 24px 16px;
    height: 100%;
}

.course-description span {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-size: 16px;
    color: #808080;
    padding: 12px 0;
}

.course-description p {
    font-size: 20px;
    color: #808080;
}

/*Thesis Section*/

#thesis {
    background-color: #f5f5f5;
    
}

#thesis .content {
    flex-direction: column;
}

#thesis h2 {
    margin-top: 32px;
    text-align: center;
    display: block;
}

.thesis-content {
    display: flex;
}

.main-content video {
    width: 100%;
}

#thesis .quote {
margin-top: 24px;

}
#thesis .quote p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 20px;
    /*font-family: Arial, sans-serif;*/
    color: #808080;
}

#thesis .event-box img {
    width: 35%;
    height: auto;
    display: inline;
    align-self: center;
}

#thesis .event-description {
    color: #808080;
}

/*Footer*/

footer {
    position: relative;
    top: 64px;
    background-color: #f5f5f5;  
    height: 80px;
}

footer .footer-content {
   margin: 16px 24px; 
   display: flex;
   justify-content: space-between;
}

footer p, footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    font-size: 14px;
} 

footer li {
    display: inline;
    margin-left: 16px;
}

footer .separator {
    height: 0;
    border-bottom: none;
}


/*Mobile*/


@media only screen and (max-width: 780px) {

    /*structure*/

    .supporting-content {
        width: 100%;
    }

    h2 {
        margin: 32px 0 16px 0;
    }

    /*Header*/


    header .desktop, header .logo {
        display: none;
    }


    header .mobile {
       display: flex;
       justify-content: stretch;
       width: 100%;
    }

    header .mobile ul {
        /*border: 1px solid red;*/
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        
    }

    header .mobile li {
        display: inline;
    }

    /*Banner*/
    .content {
        flex-direction: column;
    }

    #banner .main-content {
        width: 100%;
        margin: 0 0;
        
    }

    #banner .title {
        /*width: 100%;*/
        min-width: none;
        max-width: none;
        padding-left: 16px;
        padding-right: 16px;
    }

    #banner .button a {
        margin: 0 auto;
        width: 100%;
    }

    /*Info*/

    #info .main-content {
        display: none;
    }

    .event-box {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }

    .event-box .img-desktop {
        display: none;
    }

    .event-box .img-mobile {
        display: block;
    }

    #info .separator {
        display: none;
    }

    .event-description {
        width: 100%;
        margin: 40px 0 64px 16px;
    }

    /*Learn*/

    #learn {
        background-color: white;
    }

    #learn h2 {
        margin: 32px 0 16px 0;
    }

    .course-content {
        margin: 0 0 26px 0px;
    }

    .row {
        flex-direction: column;
        margin: 0 0;
    }

    .course-box img {
        display: none;
    }

    .course-box span, .course-box p {
        display: none;
    }

    .course-box {
        margin-bottom: 8px;
    }

    .course-description {
        background-color: #d8d8d8;
    }
    /*Thesis*/
    #thesis .supporting-content, #thesis .quote {
        display: none;
    }

    #thesis .main-content {
        width: 100%;
        margin: 0 0;
    }

    #thesis .thesis-content {
        margin-bottom: 24px;
    }

    /*Footer*/

    footer .footer-content {
       padding: 16px 16px;
       margin: 0;
     }

    footer .separator {
        display: none;
    }
    
}


