@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/Avenir\ Next/AvenirNextLTPro-Regular.otf') format('opentype'),
         
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: bold;
    src: url('../fonts/Avenir\ Next/AvenirNextLTPro-Bold.otf') format('opentype'),
         
}

/*Header Desktop*/

header {
    height: 64px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: white;
}

.school-name {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #484848;
    font-size: 20px;
    height: 32px;
    display: flex;
    align-items: center;
}

.school-name span {
    color: #a1a1a1;
    font-weight: 300;
}

header .content {
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;   
}

header .mobile {
    display: none;
}

.logo img {
    width: auto;
    height: 40px;
  
}

.desktop {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif; 
}

.logo {
    display: flex;
    align-items: center;
}

.desktop li {
    display: inline;
    margin-left: 16px;
}

.desktop li a {
    color: #484848;
    font-size: 16px;
}
/*Header Mobile*/






/*Banner Section*/


.banner {
    background-color: #d8d8d8;
    position: relative;
    top: 64px;
    width: 100%;
    /*border: 1px solid black;*/
}

.banner-content {
    padding: 32px 24px;
    display: flex;
}

.banner-content img {
    width: 60%;
    height: 100%;
}

.info-section {
    /*border: 1px solid blue;*/
    margin: 0 24px;
    font-family: 'Avenir Next';
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #484848;
    max-width: 420px;
}

.heading {
    font-weight: bold;
    font-size: 45px;
    line-height: 1.2;
}

.info-section .button a {
    display: block;
    background-color: #484848;
    text-align: center;
    color: white;
    padding: 8px 0;
    font-size: 20px;
}

.info-section p {
    font-size: 26px;
    margin: 30px 0;
    line-height: 1.4;
    font-weight: 
}